<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Trang Chủ      
    </h1>
    
</section>
<!-- Main content -->
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>150</h3>
                    <p>An toàn giao thông</p>
                </div>                
                <a href="#" class="small-box-footer">Chi tiết <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div><!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>53<sup style="font-size: 20px">%</sup></h3>
                    <p>Xâm phạm TTXH</p>
                </div>               
                <a href="#" class="small-box-footer">Chi tiết <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div><!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>44</h3>
                    <p>Vụ việc khác</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
                <a href="#" class="small-box-footer">Chi tiết <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div><!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>65</h3>
                    <p>Kết quả công tác</p>
                </div>                
                <a href="#" class="small-box-footer">Chi tiết <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div><!-- ./col -->
    </div><!-- /.row -->
    <!-- Main row -->
    <div class="row">
        <!-- Left col -->
        <section class="col-lg-7 connectedSortable">
            <!-- Custom tabs (Charts with tabs)-->  
            <div class="nav-tabs-custom">
                <!-- Tabs within a box -->
                <ul class="nav nav-tabs pull-right">
                    <li class="pull-left header"><i class="glyphicon glyphicon-star"></i>An toàn giao thông</li>
                </ul>
                <div class="tab-content no-padding">
                    <table class="table table-condensed">
                        <tr style="text-decoration-color:cyan">
                            <th style="width: 10px">STT</th>
                            <th width="40%">Tiêu đề</th>
                            <th>Ngày xảy ra</th>
                            <th>Địa điểm</th>
                        </tr>
                        <tr ng-repeat="item in listTrafficSafeties">
                            <td>{{$index+1}}</td>
                            <td>{{item.Name}}</td>
                            <td>
                                {{item.OccurenceDay}}
                            </td>
                            <td>
                                {{item.Place}}
                            </td>
                        </tr>
                        
                    </table>
                </div>
            </div><!-- /.nav-tabs-custom -->
            <div class="nav-tabs-custom">
                <!-- Tabs within a box -->
                <ul class="nav nav-tabs pull-right">
                    <li class="pull-left header"><i class="glyphicon glyphicon-star"></i>Xâm phạm TTXH</li>
                </ul>
                <div class="tab-content no-padding">
                    <table class="table table-condensed">
                        <tr>
                            <th style="width: 10px">STT</th>
                            <th width="40%">Tiêu đề</th>
                            <th>Ngày xảy ra</th>
                            <th>Địa điểm</th>
                        </tr>
                        <tr ng-repeat="item in listSocialSecurities">
                            <td>{{$index+1}}</td>
                            <td>{{item.Name}}</td>
                            <td>
                                {{item.OccurenceDay}}
                            </td>
                            <td>
                                {{item.Place}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div><!-- /.nav-tabs-custom --> 
            <div class="nav-tabs-custom">
                <!-- Tabs within a box -->
                <ul class="nav nav-tabs pull-right">
                    <li class="pull-left header"><i class="glyphicon glyphicon-star"></i>Vụ việc khác</li>
                </ul>
                <div class="tab-content no-padding">
                    <table class="table table-condensed">
                        <tr>
                            <th style="width: 10px">STT</th>
                            <th width="40%">Tiêu đề</th>
                            <th>Ngày xảy ra</th>
                            <th>Địa điểm</th>
                        </tr>
                        <tr ng-repeat="item in listOtherIncidents">
                            <td>{{$index+1}}</td>
                            <td>{{item.Name}}</td>
                            <td>
                                {{item.OccurenceDay}}
                            </td>
                            <td>
                                {{item.Place}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div><!-- /.nav-tabs-custom -->       
           
        </section><!-- /.Left col -->
        <!-- right col (We are only adding the ID to make the widgets sortable)-->
        <section class="col-lg-5 connectedSortable">
            <!-- Map box -->
            <div class="box box-solid bg-light-blue-gradient">
                <div class="box-header">
                    <!-- tools box -->
                    <div class="pull-right box-tools">
                        <button class="btn btn-primary btn-sm daterange pull-right" data-toggle="tooltip" title="Date range"><i class="fa fa-calendar"></i></button>
                        <button class="btn btn-primary btn-sm pull-right" data-widget="collapse" data-toggle="tooltip" title="Collapse" style="margin-right: 5px;"><i class="fa fa-minus"></i></button>
                    </div><!-- /. tools -->
                    <i class="fa fa-map-marker"></i>
                    <h3 class="box-title">
                        Visitors
                    </h3>
                </div>
                <div class="box-body">
                    <div id="world-map" style="height: 250px; width: 100%;"></div>
                </div><!-- /.box-body-->
                <div class="box-footer no-border">
                    <div class="row">
                        <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                            <div id="sparkline-1"></div>
                            <div class="knob-label">Visitors</div>
                        </div><!-- ./col -->
                        <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                            <div id="sparkline-2"></div>
                            <div class="knob-label">Online</div>
                        </div><!-- ./col -->
                        <div class="col-xs-4 text-center">
                            <div id="sparkline-3"></div>
                            <div class="knob-label">Exists</div>
                        </div><!-- ./col -->
                    </div><!-- /.row -->
                </div>
            </div>
            <!-- /.box -->          
       
            <!-- Calendar -->
            <div class="box box-solid bg-green-gradient">
                <div class="box-header">
                    <i class="fa fa-calendar"></i>
                    <h3 class="box-title">Calendar</h3>
                    <!-- tools box -->
                    <div class="pull-right box-tools">
                        
                    </div><!-- /. tools -->
                </div><!-- /.box-header -->
                <div class="box-body no-padding">

                </div><!-- /.box-body -->                
            </div><!-- /.box -->
        </section><!-- right col -->
    </div><!-- /.row (main row) -->
</section><!-- /.content -->
