<div class="login-box">    
    <div class="login-box-body">
        <p class="login-box-msg text-blue" style="font-size:x-large; font-weight:bold">Đăng nhập hệ thống</p>
        <form role="form" method="post" ng-submit="loginSubmit()">
            <div class="form-group has-feedback">
                <input type="text" class="form-control" placeholder="Tài khoản" ng-model="loginData.userName">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" placeholder="Mật khẩu" ng-model="loginData.password">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Nhớ mật khẩu
                        </label>
                    </div>
                </div><!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Đăng nhập</button>
                </div><!-- /.col -->
            </div>
        </form>
        <div class="social-auth-links text-center">
            <p>- OR -</p>
            <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Đăng nhập bằng Facebook</a>
            <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Đăng nhập bằng Google+</a>
        </div><!-- /.social-auth-links -->
        <a href="#">Quên mật khẩu</a><br>
        <a href="register.html" class="text-center">Đăng ký</a>
    </div><!-- /.login-box-body -->
</div><!-- /.login-box -->

