  <!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Danh mục thống kê
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li><a href="#">Thống kê</a></li>
        <li class="active">Danh mục thống kê</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="box">        
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="filterExpression" placeholder="Từ khóa">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="search()">Tìm kiếm</button>
                            <button class="btn btn-success" style="margin-left:5px;" ui-sref="add_statistic">Thêm mới</button>
                        </span>
                    </div><!-- /input-group -->                   
                </div>                
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="responstable">
                        <tr>
                            <th style="width: 5%">STT</th>
                            <th style="width:30%">Tiêu đề</th>
                            <th style="width: 10%">Tổng số vụ</th>
                            <th style="width: 5%">Chết</th>
                            <th style="width: 10%">Bị thương</th>
                            <th style="width: 20%">Thiệt hại tài sản(VNĐ)</th>
                            <th style="width: 10%">Trạng thái</th>
                            <th style="width: 10%">Thao tác</th>
                        </tr>
                        <tr ng-repeat="item in statistics | filter:filterExpression">
                            <td>{{$index+1}}</td>

                            <td>{{item.Name}}</td>
                            <td>
                                {{item.TotalSituationCount}}
                            </td>
                            <td>
                                {{item.TheDead}}
                            </td>
                            <td>
                                {{item.TheInjured}}
                            </td>
                            <td>
                                {{item.PropertyDamage}}
                            </td>
                            <td>
                                <span ng-class="{'badge bg-red':item.Status==false,'badge bg-green':item.Status==true}">
                                    {{item.Status | statusFilter}}
                                </span>
                            </td>
                            <td>
                                <button class="btn btn-sm btn-primary" ui-sref="edit_statistic({id:item.ID})"><i class="fa fa-pencil"></i></button>
                                <button class="btn  btn-sm btn-danger" ng-click="delstatistic(item.ID)"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                        <tfoot>
                            <tr>
                                <td colspan="8"><span class="pull-right">Trang {{page+1}} Tổng số bản ghi: {{totalCount}}</span></td>
                            </tr>
                        </tfoot>
                    </table>
                    <div ng-if="loading">
                        <div class="col-xs-4"></div>
                        <div class="col-xs-4">
                            <i class="fa fa-refresh fa-4x fa-spin"></i> <label class="label label-primary">Đang tải...</label>
                        </div>
                        <div class="col-xs-4"></div>
                    </div>
                </div>
            </div>
        </div><!-- /.box-body -->
        <div class="box-footer">
            <pager-directive page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="search(page)"></pager-directive>
        </div><!-- /.box-footer-->
    </div><!-- /.box -->
</section><!-- /.content -->